**/*.o
**/*.out
**/*.a
**/.*
**/valgrind
**/obj
**/obj_bonus
*.pdf
ignore

infile
outfile

so_long
soo_loong
push_swap
checker
pipex
philo
!philo/
minishell
!minishell/

megaphone
phonebook

zombie
horde
brain
violence
replace
harl
harlFilter

fixed
